<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recetatordeveloperteam.recetator3000"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.recetatordeveloperteam.recetator3000.ActividadPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.recetatordeveloperteam.recetator3000.ActividadMisRecetas"
            android:label="@string/title_activity_actividad_mis_recetas"
            android:parentActivityName=".ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActividadPrincipal" />
        </activity>
        <activity
            android:name="com.recetatordeveloperteam.recetator3000.ActividadNuevaReceta"
            android:label="@string/title_activity_actividad_nueva_receta"
            android:parentActivityName=".ActividadMisRecetas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActividadMisRecetas" />
        </activity>
        <activity
            android:name="com.recetatordeveloperteam.recetator3000.ActividadPerfil"
            android:label="@string/title_activity_actividad_perfil" >
        </activity>
        <activity
            android:name="com.recetatordeveloperteam.recetator3000.ActividadRecetasFavoritas"
            android:label="@string/title_activity_actividad_recetas_favoritas" >
        </activity>
        <activity
            android:name="com.recetatordeveloperteam.recetator3000.ActividadRecetasPendientes"
            android:label="@string/title_activity_actividad_recetas_pendientes" >
        </activity>
        <activity
            android:name="com.recetatordeveloperteam.recetator3000.ActividadMostrarReceta"
            android:label="@string/title_activity_actividad_mostrar_receta" >
        </activity>
        <activity
            android:name="com.recetatordeveloperteam.recetator3000.ActividadBusquedaRecetas"
            android:label="@string/title_activity_actividad_busqueda_recetas"
            android:parentActivityName=".ActividadPrincipal"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActividadPrincipal" />
        </activity>
    </application>

</manifest>
